<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %> ">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script type="text/javascript" defer src="/js/script.js"></script>
    <script src="https://kit.fontawesome.com/dfaf61f2d4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container" data-aos="fade-up"
    data-aos-duration="500">
      <%- include('../partials/header.ejs') %>
      <main class="main"><%- body %></main>
      <%- include('../partials/footer.ejs') %>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
