<link rel="stylesheet" href="/css/instructor.css" />

<div class="innerContent">
  <div class="top">
    <div class="instructorInfo">
      <div class="nameAndRating">
        <h1><%= result.name%></h1>
        <h2 class="overall">
          <% if (result.overall == 0){%> N/A <%} else { %> <%= Number.parseFloat(result.overall/result.ratings).toFixed(1) %>/5.0
          <%}%>
        </h2>
      </div>
      <h2 class="department"><%= result.department %> Department</h2>
      <div class = "subjects"> 
        <% for(let i = 0; i<result.subjects.length;i++){ %>
        <div class = "subject"><p> <%=result.subjects[i] %></p></div>
        <%}%>
      </div>
    </div>
    <div class="rate"><h3>Want to add something? </h3><a id = "leaveRating" href = "<% if(isAuthenticated == true){%>
        <%= `/rate/${result._id}` %> 
        <% } else { %>
           <%= '/logIn' %> 
       <% } %>"> Leave a Rating<span class = "star">&#9733; &#9733; &#9733; </span> </a> 
      
    </div>
  </div>

  <div class = "otherValues">
    <div class = "difficulty">
      <div class = "imageContainer">
      <img class = "cardImage" alt = "difficult" src = "/images/difficulty.svg"> 
    </div>
    <h3 class = "tag"> Difficulty </h3>
    <p class = "number">  <% if (result.difficulty == 0){%> N/A <%} else { %> <%= Number.parseFloat(result.difficulty/result.ratings).toFixed(1) %>/5.0
      <%}%> </p>
    </div>
    <div class = "workload">
      <div class = "imageContainer">
      <img class = "cardImage" alt = "workload" src = "/images/workload.svg"> 
    </div>
    <h3 class = "tag"> Workload </h3>
    <p class = "number">  <% if (result.workload == 0){%> N/A <%} else { %> <%= Number.parseFloat(result.workload/result.ratings).toFixed(1) %>/5.0
      <%}%> </p>
    </div>
  </div>

  <h2> Comment Section </h2>
  <div class = "comments"> 

    <% if (result.comments.length<1){%>
      <h3> There seems to be no comments yet.. Be the first!</h3>
    <%}%>
    <% for(let i = result.comments.length-1; i>=0; i--){%>
      
    <div class = "comment"> 
      <h3 class = "author"> <%= result.comments[i].author %> &#x2022; <span class = 'subject'><%= result.comments[i].subject %></span>  &#x2022;  <%= result.comments[i].date.toDateString() %></h3>
      <p class = "content"> <%= result.comments[i].content %> </p>
    </div>
  <%}%>
  </div>
</div>

<script src = "/js/instructor.js" defer></script>
